@font-face {
    font-family: 'Avengeance Mightiest Avenger';
    src: url('../font/AvengeanceMightiestAvenger.eot');
    src: url('../font/AvengeanceMightiestAvenger.eot?#iefix') format('embedded-opentype'),
        url('../font/AvengeanceMightiestAvenger.woff2') format('woff2'),
        url('../font/AvengeanceMightiestAvenger.woff') format('woff'),
        url('../font/AvengeanceMightiestAvenger.ttf') format('truetype'),
        url('../font/AvengeanceMightiestAvenger.svg#AvengeanceMightiestAvenger') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

